<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalaun Community Library</title>
    <meta name="description" content="Contact Jalaun Community Library in Orai, Jalaun for study facilities, books, computer classes and educational resources.">

    <meta name="keywords" content="Jalaun Community Library Contact, Library Orai Address, Study Library Jalaun, ARISE Society Orai">

    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Header -->
    <header class="main_header">
      <div class="home_page">
        <img class="icon_img" src="libraryicon.png" alt="Jalaun Community Library Logo">
        <h1>Jalaun Community Library</h1>
        <p>Empowering Minds, Connecting Communities</p>
      </div>
    </header>

  <!-- navigayion -->
    <nav class="main_nav">
      <ul class="nav_list">
        <li><a href="index.html" class="nav_link">Home</a></li>
        <li><a href="about.html" class="nav_link">About</a></li>
        <li><a href="contact.html" class="nav_link active">Contact</a></li>
      </ul>
    </nav>
  
  <main class="main_card">
    <div class="main_section">
      <p>
      You can contact Jalaun Community Library located in Orai, District Jalaun,
      Uttar Pradesh for study space, books, and learning programs.
      </p>
    </div>
  </main>
        <!-- Footer -->
    <footer>
      <section class="main_section footer-socials">
        <h3>Follow Us</h3>
        <a href="https://www.instagram.com/jalauncommunitylibrary?igsh=MWRpZmloYWJ6ZzcyeA==" target="_blank">
          <img src="insta.png" alt="Jalaun Community Library Instagram">
        </a>
        <a href="https://www.facebook.com/profile.php?id=61581525892297" target="_blank">
          <img src="facebook.png" alt="Jalaun Community Library Facebook">
        </a>
        <a href="https://youtube.com/@arisesociety?si=My3WvKkJfpGWeTZT" target="_blank">
          <img src="youtube.png" alt="ARISE Society YouTube Channel">
          </a>
        <a href="https://x.com/Society2025AR?s=20" target="_blank">
          <img src="x.png" alt="X account">
        </a>
      </section>
      <section id="contact" class="main_section">
        <h3>Contact Us</h3>
        <ul>
          <li>
            <a href="mailto:arisesocietyorai@gmail.com">
              <img src="email.png" alt="Email">
              arisesocietyorai@gmail.com
            </a>
          </li>
          <li>
            <a href="tel:+919250045079">
              <img src="call.png" alt="Telephone">
                +91 9250045079
            
              <span>|</span>

              <a href="tel:+916306387002">
                +91 6306387002
              </a>
            </a>
          </li>
          <li>
            <a href="https://www.google.com/maps/place/Phase-1,+Jalaun+Community+Library,+Orai+Industrial+Area,+H4,+Orai,+Uttar+Pradesh+285001/@26.0103082,79.4914715,15z/data=!4m6!3m5!1s0x399d793b57bba095:0x64fb9fb2b85e0419!8m2!3d26.0103082!4d79.4914715!16s%2Fg%2F11mlxmf1jv?utm_campaign=ml-ardl&g_ep=Eg1tbF8yMDI2MDIyM18wIJvbDyoASAJQAQ%3D%3D" target="_blank">
              <img src="location.png" alt="Location">
              <p>H-8 Industrial Area, Orai Dist. Jalaun, (U.P.) 285001</p>
            </a>
          </li>
        </ul>
      </section>
      <div class="copyright">
        &copy; 2026 Jalaun Community Library. Crafted with care for the community.<br>
        <span class="creator">Designed & Developed by Anand Kumar
        </span>
      </div>
    </footer>
</body>
