<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalaun Community Library</title>
    <meta name="description" content="View images and activities from Jalaun Community Library in Orai. See our study environment, facilities, and community learning programs.">

    <meta name="keywords" content="Jalaun Community Library Gallery, Library Orai Photos, Study Library Jalaun, ARISE Society Activities">

    <meta name="robots" content="index, follow">

    <meta name="author" content="Jalaun Community Library">

    <link rel="canonical" href="https://jalauncommunitylibrary.org/gallery.html">

    <link rel="stylesheet" href="../css/style.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    
</head>
<body>
  <!-- Header -->
    <header class="main_header">
      <div class="home_page">
        <img class="icon_img" src="../logo-icons/libraryicon.png" alt="Jalaun Community Library Logo">
        <h1>Jalaun Community Library</h1>
        <p>Empowering Minds, Connecting Communities</p>
      </div>
    </header>
    
  <!-- navigation -->
    <nav class="main_nav">
      <ul class="nav_list">
        <li><a href="../index.html" class="nav_link">Home</a></li>
        <li><a href="about.html" class="nav_link">About</a></li>
        <li><a href="contact.html" class="nav_link">Contact</a></li>
      </ul>
    </nav>
  <main>
    <section class="gallery_section gallery_page">
      <h2>Library Gallery</h2>
      <div id="gallery_page" class="gallery_grid">
          
        <a href="../gallery/images/img1.jpg" class="glightbox" data-gallery="library">
          <img src="../gallery/images/img1.jpg" alt="library photo"></a>
        
        <a href="../gallery/images/img2.jpg" class="glightbox" data-gallery="library">
          <img src="../gallery/images/img2.jpg" alt="library photo"></a>
        
        <a href="../gallery/images/img3.jpg" class="glightbox" data-gallery="library">
          <img src="../gallery/images/img3.jpg" alt="library photo"></a>
        
        <a href="../gallery/images/img4.jpg" class="glightbox" data-gallery="library">
          <img src="../gallery/images/img4.jpg" alt="library photo"></a>
        
        <a href="../gallery/videos/video1.mp4" class="glightbox video_thumb" data-gallery="library" data-type="video">
          <video src="../gallery/videos/video1.mp4#t=5" preload="metadata"></video>
        </a>
      </div>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
  <script>
    const lightbox = GLightbox({
    selector: ".glightbox",
    closeOnOutsideClick: true,
    touchNavigation: true
    });
    lightbox.on('open', () => {
      history.pushState({lightbox: true}, "");
    });

    window.addEventListener("popstate", () => {
      if (lightbox) {
        lightbox.close();
      }
    });
  </script>
</body>
</html>
